.contenedor{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 3rem;
        gap: 2rem;
}

.img{
        width: 50rem;
        padding: 3rem;
        display: grid;
        justify-content: center;
}

.busqueda{
        display: flex;
        justify-items: center;
        align-items: baseline;
        gap: 1rem;
}

